.navbar {
  display: none;
}

.BurgerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: grey;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px white,
    0 0 20px white, 0 0 30px white, 0 0 50px white, 0 0 50px white;
}

.BurgerMenu a {
  display: flex;
  justify-content: space-around;
  margin: 0.25rem;
  text-decoration: none;
  color: white;
}

.BurgerMenu a:hover {
  color: #000;
}

@media screen and (min-width: 768px) {
  .BurgerMenu {
    display: none;
  }

  .navbar {
    display: flex;
    align-items: row;
    background-color: black;
  }

  .navbarText {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: grey;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px white,
      0 0 20px white, 0 0 30px white, 0 0 50px white, 0 0 50px white;
  }

  ul.allText {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-align: center;
    text-decoration: none;
    font-size: 3em;
  }

  .navbarText:hover {
    color: black;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
  }
}
