footer {
  height: 4em;
  width: 100%;
  background-size: cover;
  font-style: italic;
  text-shadow: 2em;
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
  background-color: white;
}

.footer p {
  margin-left: 1em;
  font-size: 1em;
  color: black;
  background-color: white;
}
